/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');

/* ALL */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    z-index: 1;
}

/* Variables */
:root {
    --mff: "Cairo Play";
    --sff: "Rubik";

    /* Traditional */
    --Green: rgb(0, 128, 0);
    --Gold: rgb(255, 215, 0);
    --Black: rgb(0, 0, 0);
    --White: rgb(255, 255, 255);

    /* Modern and Elegant Colors */
    --Navy-Blue: rgb(0, 0, 128);
    --Soft-Gray: rgb(128, 128, 128);
    --Cream: rgb(255, 240, 200);
}

/* Animations */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    100% {
        opacity: 0;
    }
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes spin1 {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    75% {
        transform: rotateZ(180deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(180deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    75% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

/* loader */
.Load {
    height: 100vh;
    overflow: hidden;
    margin: auto;
    position: fixed;
    z-index: 9999;
}

.Load::backdrop {
    background-color: rgba(100, 100, 100, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.quater {
    height: 1.5cm;
    width: 1.5cm;
    background-color: skyblue;
    float: left;
    position: relative;
    bottom: 1.25cm;
}

.i {
    border-top-left-radius: 100%;
    animation: spin1 2s ease-in-out infinite;
    transform-origin: 1.5cm 1.5cm;
}

.ii {
    border-top-right-radius: 100%;
    animation: spin2 2s ease-in-out infinite;
    transform-origin: 0 1.5cm;
}

/* HTML */
html {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: var(--sff);
    overflow-x: hidden;
}

/* ANY ANCHOR TAG */
a {
    text-decoration: none;
    color: black;
}

/* ANY DIALOG WHEN IT OPENS */
dialog[open] {
    animation: fade 0.5s ease;
}

/* ANY BACKDROP DIALOG */
dialog::backdrop {
    backdrop-filter: blur(10px);
}

/* ANY INPUT WITH TYPE RADIO */
input[type="radio"] {
    display: none;
}

/* ANY IMAGE OR SVG OR VIDEO */
img,
svg,
video {
    pointer-events: none;
}

/* ANY BUTTONS */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ANY TEXTAREA */
textarea {
    resize: none;
    font-family: var(--mff);
}

/* WEBKIT SCROLL-BAR */
::-webkit-scrollbar-corner {
    width: 0px;
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--Navy-Blue);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 10px;
    margin: 10px 20px 0 0;
}

.header>h2 {
    cursor: pointer;
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 3px solid var(--Gold);
    width: 100vw;
}

.rightdevsection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.leftdevsection ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.leftdevsection ul li {
    list-style: none;
    font-size: 1.5em;
    font-weight: 700;
    position: relative;
    width: max-content;
}

.leftdevsection ul li::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 3px;
    background: var(--Green);
    transition: 0.2s ease-in-out;
    margin-top: 10px;
}

.leftdevsection ul li:hover::after {
    width: 100%;
}

.leftdevsection ul li button {
    font-size: 30px;
    font-family: var(--sff);
    font-weight: 700;
    background: transparent;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 3px solid var(--Gold);
}

nav label {
    flex-grow: 1;
    background: none;
    height: 100%;
    font-size: 25px;
    font-family: var(--mff);
    cursor: pointer;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav label:hover {
    background: var(--Gold);
}

main>section:not(.active) {
    display: none;
}

main>section.active {
    display: inline;
}

/* HolyQuran */
.HolyQuran {
    width: 100%;
    height: 100%;
}

.HolyQuran>h2 {
    cursor: pointer;
}

.HolyQuran>h2::after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 3px;
    background: #000;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}

.HolyQuran>h2:hover::after {
    transform: scale(1);
}

.surahs {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 20px;
    gap: 30px;
}

.surah {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--mff);
    border: 3px solid var(--Black);
    cursor: pointer;
    transition: 0.5s;
}

.surah button {
    width: 100%;
    font-size: 30px;
    font-family: var(--mff);
    border-radius: 10px;
    background: var(--Cream);
    transition: 0.5s;
}

.surah button:hover {
    background: var(--Gold);
}

.surah:hover {
    transform: translateY(-10px);
    border: 3px solid var(--Gold);
}

.surah h2:first-child::before {
    content: " سورة ";
}

/* salah */
.Praying {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Prayers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

#pray {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid var(--Black);
    cursor: pointer;
    transition: 0.5s;
}

#pray h2 {
    margin-bottom: 10px;
}

#pray h3 {
    margin-top: 10px;
}

#pray:hover {
    transform: translateY(-10px);
    border: 3px solid var(--Gold);
}

/* Moshaf Dialog */
.alert1 {
    margin: auto;
    height: 200px;
    width: 90vw;
    border-radius: 20px;
    animation: fade 0.7s;
}

.alert1items {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert1 h1 {
    text-align: center;
}

.exitalert1 {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--Cream);
    padding: 10px;
    border-radius: 10px;
}

/* Follows */
.Follows {
    margin: auto;
    height: 200px;
    width: 90vw;
    border-radius: 20px;
    z-index: 999;
}

.followsitems {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
}

.socials {
    /* margin:40px 40px 0 0; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    place-items: center;
    gap: 20px;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: 10px;
}

#app a {
    font-size: 20px;
}

.Followsclose {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--Cream);
    padding: 10px;
    border-radius: 10px;
}

/* estefsar */
.estefsar {
    margin: auto;
    height: max-content;
    width: 90vw;
    border-radius: 20px;
    z-index: 999;
    padding: 20px;
}

.estefsarclose {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--Cream);
    padding: 10px;
    border-radius: 10px;
    z-index: 999;
}

.close {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 999;
}

.estefsaritems {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 87vh;
}

.estefsarname {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.estefsarsend {
    background: var(--Cream);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-family: var(--sff);
    font-size: 20px;
    font-weight: 700;
}

#estefsartext {
    background: var(--Cream);
    border-radius: 10px;
    color: var(--Black);
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
}

.additions {
    display: none;
}

footer {
    background: var(--Cream);
    text-align: center;
    direction: ltr;
    padding: 10px 0 10px 0;
    color:var(--Navy-Blue)
}

/* Screen */
@media screen and (max-width:800px) {

    .surahs,
    .Prayers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:640px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        gap: 20px;
    }
}

@media screen and (max-width:480px) {
    .surahs {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:460px) {
    .estefsar video {
        display: none;
    }
}

@media screen and (max-width:420px) {
    .estefsarclose {
        position: static;
    }

    .estefsaritems {
        height: 78vh
    }

    .close {
        margin-bottom: 10px;
    }

    .additions {
        display: inline;
    }

    .estefsarname {
        display: none;
    }
}

@media screen and (max-width:400px) {
    .Prayers {
        grid-template-columns: repeat(1, 1fr);
    }

    .leftdevsection ul li button {
        font-size: 15px;
    }

    nav {
        flex-direction: column;
        height: max-content;
        width: 100vw;
    }

    nav label {
        width: 100%;
    }
}

@media screen and (max-width:390px) {
    .additions {
        font-size: 20px;
    }
}